@model CadastroIEL.Infrastructure.Models.Cadastro

@{
    ViewData["Title"] = "Register Cadastro";
}

<h2>Register Cadastro</h2>

<form asp-action="Create" method="post">
    <div>
        <label for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div>
        <label for="CPF">CPF</label>
        <input asp-for="CPF" class="form-control" />
        <span asp-validation-for="CPF" class="text-danger"></span>
    </div>
    <div>
        <label for="Endereco">Endereço</label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>
    <div>
        <label for="DataConclusao">Data de Conclusão</label>
        <input asp-for="DataConclusao" class="form-control" type="number" />
        <span asp-validation-for="DataConclusao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}